@charset "utf-8";
/*간격*/
.mt0{margin-top:0px !important;}
.mt4{margin-top:4px !important;}
.mt6{margin-top:6px !important;}
.mt8{margin-top:8px !important;}
.mt10{margin-top:10px !important;}
.mt12{margin-top:12px !important;}
.mt16{margin-top:16px !important;}
.mt20{margin-top:20px !important;}
.mt24{margin-top:24px !important;}
.mt32{margin-top:32px !important;}
.mt40{margin-top:40px !important;}

.mr0{margin-right:0px !important;}
.mr4{margin-right:4px !important;}
.mr8{margin-right:8px !important;}
.mr10{margin-right:10px !important;}
.mr12{margin-right:12px !important;}
.mr16{margin-right:16px !important;}
.mr20{margin-right:20px !important;}
.mr24{margin-right:24px !important;}
.mr32{margin-right:32px !important;}
.mr40{margin-right:40px !important;}

.mb0{margin-bottom:0px !important;}
.mb4{margin-bottom:4px !important;}
.mb8{margin-bottom:8px !important;}
.mb10{margin-bottom:10px !important;}
.mb12{margin-bottom:12px !important;}
.mb16{margin-bottom:16px !important;}
.mb20{margin-bottom:20px !important;}
.mb24{margin-bottom:24px !important;}
.mb32{margin-bottom:32px !important;}
.mb40{margin-bottom:40px !important;}

.ml0{margin-left:0px !important;}
.ml4{margin-left:4px !important;}
.ml8{margin-left:8px !important;}
.ml10{margin-left:10px !important;}
.ml12{margin-left:12px !important;}
.ml16{margin-left:16px !important;}
.ml20{margin-left:20px !important;}
.ml24{margin-left:24px !important;}
.ml32{margin-left:32px !important;}
.ml40{margin-left:40px !important;}

.pt4{padding-top:4px !important;}
.pt8{padding-top:8px !important;}
.pt10{padding-top:10px !important;}
.pt12{padding-top:12px !important;}
.pt16{padding-top:16px !important;}
.pt20{padding-top:20px !important;}
.pt24{padding-top:24px !important;}
.pt32{padding-top:32px !important;}
.pt40{padding-top:40px !important;}

.pr4{padding-right:4px !important;}
.pr8{padding-right:8px !important;}
.pr10{padding-right:10px !important;}
.pr12{padding-right:12px !important;}
.pr16{padding-right:16px !important;}
.pr20{padding-right:20px !important;}
.pr24{padding-right:24px !important;}
.pr32{padding-right:32px !important;}
.pr40{padding-right:40px !important;}

.pb4{padding-bottom:4px !important;}
.pb8{padding-bottom:8px !important;}
.pb10{padding-bottom:10px !important;}
.pb12{padding-bottom:12px !important;}
.pb16{padding-bottom:16px !important;}
.pb20{padding-bottom:20px !important;}
.pb24{padding-bottom:24px !important;}
.pb32{padding-bottom:32px !important;}
.pb40{padding-bottom:40px !important;}

.pl4{padding-left:4px !important;}
.pl8{padding-left:8px !important;}
.pl10{padding-left:10px !important;}
.pl12{padding-left:12px !important;}
.pl16{padding-left:16px !important;}
.pl20{padding-left:20px !important;}
.pl24{padding-left:24px !important;}
.pl32{padding-left:32px !important;}
.pl40{padding-left:40px !important;}

.align_center{text-align: center}

.ell1{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;word-break: break-all;}

/* Color */
.col_mint50{color:#47CFD6;}
.col_mint60{color:#15C5CE;} /*primary*/
.col_mint70{color:#00ABB6;}
.col_red{color:#E62E2E;}
.col_green{color:#47B881;}
.col_blue{color:#3B82F6;}
.col_yellow{color:#FFAD0D;}

.bg_mint10{background-color:#EEFCFC;}
.bg_mint20{background-color:#DFF7F7;}
.bg_mint30{background-color:#B0EBEC;}
.bg_mint40{background-color:#7DDDE1;}
.bg_mint50{background-color:#47CFD6;}
.bg_mint60{background-color:#15C5CE;} /*primary*/
.bg_mint70{background-color:#00ABB6;}
.bg_red{background-color:#E62E2E;}
.bg_green{background-color:#47B881;}
.bg_blue{background-color:#3B82F6;}
.bg_yellow{background-color:#FFAD0D;}
.bg_red10{background-color:#FEF2F2;}
.bg_green10{background-color:#F2FAF6;}
.bg_blue10{background-color:#EEF7FF;}
.bg_yellow10{background-color:#FFF9EA;}

/*타이포*/
.tit{font-size: 24px;font-weight: 700;line-height: 30px;color:#1F1F1F}
.tit + .sub_txt{display:block;color:#8E8E8E;margin-top:8px;}
.tit + .sub_txt ~ .sub_txt{display:block;color:#8E8E8E;margin-top:2px;}

.h2{font-size:16px;font-weight:500;line-height:24px;margin-bottom:0;}

.caption{font-size:12px;line-height:18px;color:#CACACA;}
.caption_body{font-size:14px;color:#8E8E8E;}

.txt_info{color:#3B82F6;font-size:12px;font-weight:400;}
.txt_success{color:#47B881;font-size:12px;font-weight:400;}
.txt_error{color:#E62E2E;font-size:12px;font-weight:400;}
.txt_link{text-decoration: underline;color:#00ABB6;}
.txt_link:hover{text-decoration: underline;color:#00ABB6;}

/*
    👉🏻 📂forms
          form_cont > form_group > form_item > form_input
*/
.form_group .state_txt{font-size:12px;margin-top:4px;}
.form_group.success .state_txt{color:#47B881;}
.form_group.error .state_txt{color:#E62E2E;}

.form_group.success .form_input{border-color:#47B881;}
.form_group.error .form_input{border-color:#E62E2E;}

input[type="file"]{position: absolute;width: 0;height: 0;padding: 0;overflow: hidden;border: 0;}
.form-label{font-weight:500;margin-bottom:0;}
.align-items-center .form-label{margin-top:2px}

.form_input{width:200px;height:32px;line-height:31px;padding:0 12px;font-size:14px;border:1px solid #E1E1E1;border-radius: 4px;}
.form_input::placeholder{color:#CACACA;}
.form_input:hover{border:1px solid #15C5CE !important;}
.form_input:focus, .form-control:active{outline:2px solid #B0EBEC !important;border:1px solid #B0EBEC !important;box-shadow: none !important;}
.form_input:disabled{background-color:#F5F5F5 !important;border:1px solid #E1E1E1 !important;color:#E1E1E1 !important;}

input.form_input[readonly], input.form_input[readonly="readonly"]{background-color:#F5F5F5 !important;border:1px solid #E1E1E1 !important;color:#4b4b4b !important;}
input.form_input[readonly]:focus, input.form_input[readonly]:active, input.form_input[readonly="readonly"]:focus, input.form_input[readonly="readonly"]:active{outline:none !important;}
input.form_input[readonly]:hover, input.form_input[readonly="readonly"]:hover{border-color: #E1E1E1;}

.form_input.w700{max-width:500px;width:100%;min-width:200px;}
.form_input.w100{max-width:100%;width:100%;}

/*select*/
.form_input.form-select{background-color:#fff;background-image:url(../images/icon/ico_select-arr.svg);background-size:20px;padding-right:0;}
.form_input.form-select option:disabled{color:#CACACA;}

/*checkbox*/
.form-check-input[type=checkbox]{width:20px;min-width:20px;height:20px;margin:0;background-color:#fff;border:1px solid #E1E1E1;border-radius:4px;cursor: pointer;}
.form-check-input[type=checkbox]:checked{background-color:#15C5CE;background-image:url(../images/icon/ico_check_white.svg);background-size:auto;border-color:#15C5CE;}

.form-check-input[type=checkbox]:not([disabled]):hover{border-color:#00ABB6;} 
.form-check-input[type=checkbox]:not([disabled]):checked:hover{background-color:#00ABB6;border-color:#00ABB6;}

.form-check-input[type=checkbox]:focus{outline:none;box-shadow: none;} /*클릭 포커스 리셋*/
.form-check-input[type=checkbox]:not([disabled]):focus-visible{outline:2px solid #B0EBEC;box-shadow: none;border-color:#15C5CE} /*키보드 포커스*/

.form-check-input[type=checkbox]:disabled{background-color:#F5F5F5;opacity: 1;}
.form-check-input[type=checkbox]:disabled + .form-check-label{color:#CACACA;opacity: 1;}
.form-check-input[type=checkbox]:checked:disabled{background-color:#CACACA;border-color:#CACACA;}

.form-check-input[type=checkbox]:active{filter:none;}

/*radio*/
.form-check-input[type=radio]{display:flex;width:20px;min-width:20px;height:20px;margin:0;border:1px solid #E1E1E1;background-color:#fff;border-radius:50%;cursor: pointer;}
.form-check-input[type=radio]:checked{background-image:none;align-items: center;justify-content: center;}
.form-check-input[type=radio]:checked::after{content:'';display:inline-block;width:10px;height:10px;background-color:#15C5CE;border-radius: 50%;}

.form-check-input[type=radio]:not([disabled]):hover{border-color:#00ABB6;}
.form-check-input[type=radio]:not([disabled]):checked:hover{border-color:#00ABB6;}
.form-check-input[type=radio]:not([disabled]):checked:hover::after{background-color:#00ABB6;}

.form-check-input[type=radio]:focus{outline:none;box-shadow: none;}
.form-check-input[type=radio]:not([disabled]):focus-visible{outline:2px solid #B0EBEC;box-shadow: none;border-color:#15C5CE;}

.form-check-input[type=radio]:disabled{background-color:#F5F5F5;opacity: 1;}
.form-check-input[type=radio]:disabled + .form-check-label{color:#CACACA;opacity: 1;}
.form-check-input[type=radio]:checked:disabled{background-color:#F5F5F5;border-color:#E1E1E1;}
.form-check-input[type=radio]:checked:disabled::after{background-color:#E1E1E1;}

.form-check-input[type=radio]:active{filter:none;}

/*align*/
.form-check{display:flex;min-height:20px;padding:0;margin:0;}
.form-check + .form-check{margin-left:16px;}
.form-check .form-check-input + .form-check-label{padding-left:8px;}
.form-check .form-check-label{cursor: pointer;line-height:20px;}

/*textarea*/
textarea.form-control{padding:12px;font-size:14px;border:1px solid #E1E1E1;border-radius:4px;resize: none;}
textarea.form-control:focus, textarea.form-control:active{outline:2px solid #B0EBEC;border:1px solid #B0EBEC;box-shadow: none;}

textarea.form-control::placeholder{color:#CACACA;}
textarea.form-control[readonly], textarea.form-control[readonly="readonly"]{background-color:#FAFAFA;}
textarea.form-control[readonly]:focus, textarea.form-control[readonly]:active, textarea.form-control[readonly="readonly"]:focus, textarea.form-control[readonly="readonly"]:active{border-color: #E1E1E1 !important;outline:none !important;}
textarea.form-control[readonly]:hover, textarea.form-control[readonly="readonly"]:hover{border-color: #E1E1E1;}

/*반응형*/
@media all and (max-width:768px) {
    .form_group_wrap{align-items:end !important;}
    .form_group{align-items:end !important;flex-wrap: wrap;}
    .form_group_wrap.flex-nowrap .form_group{align-items:center !important;}
    .form_group .form-label{width:100%;}
    .form_group_wrap .button{flex-shrink:0;}

    .form_group_wrap .form_group{flex:0 0 100%;flex-shrink:1;}
    .form_group .form_input{margin-left:0;width:100%;max-width:100%;}

    
    .form_group .form-label{display:block;}
    
    .form_input{width:auto;min-width:auto !important;flex-basis: 100%;flex:1}
    .form_input.form-select{width:auto;flex-basis: 100%;flex:1}
}

@media all and (max-width:480px) {
    .form_group_wrap{flex-wrap: wrap;}
    
    .form_group_wrap.col2 > *{margin-bottom:8px;}
    .form_group_wrap.col2 > *:last-child{margin-bottom:0}
    .form_group_wrap.col2 .form_group{flex:0 0 100%;}
    .form_group_wrap.col2 > .button{width:100%;}    
}

/*➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖*/

/*
    👉🏻 📂buttons
*/
/*button - reset*/
button:focus,
button[type="button"]:focus,
button[type="reset"]:focus,
button[type="submit"]:focus{outline:none;box-shadow: none;}

button:focus-visible,
button[type="button"]:not(.disabled):focus-visible,
button[type="reset"]:not(.disabled):focus-visible,
button[type="submit"]:not(.disabled):focus-visible{outline:2px solid #B0EBEC;}

/*button - type*/
.button{display:inline-flex;align-items:center;justify-content:center;border-radius:4px;cursor: pointer;flex-shrink: 0;}
.button.primary{color:#fff;border:1px solid #15C5CE;background-color:#15C5CE;}
.button.secondary{color:#15C5CE;border:1px solid #15C5CE;background-color:#fff;}
.button.outline{color:#4b4b4b;border:1px solid #EEEEEE;background-color:#fff;}
.button.disabled{color:#fff;border:1px solid #e1e1e1;background-color:#e1e1e1;cursor:default}

/*button - state*/
.button.primary:hover{color:#fff;border:1px solid #47CFD6;background-color:#47CFD6;}
.button.primary.disabled{color:#fff;border:1px solid #e1e1e1;background-color:#e1e1e1;cursor:default}

.button.outline:hover{background-color:#F5F5F5;}
.button.outline.disabled{color:#CACACA;border:1px solid #EEEEEE;background-color:#fff;}

/*button - size*/
.sm{min-width:55px;height:24px;line-height:24px;padding:0 6px;font-size:12px;}
.md{min-width:49px;height:32px;line-height:32px;padding:0 8px;}
.lg{min-width:96px;height:40px;line-height:40px;padding:0 24px;}

/*button - layout*/
.button .label{display:inline-flex;}
.button i + .label{margin-left:4px;}
.button .label + i{margin-left:4px;}

.ico{position:relative;}
.mark_count{position:absolute;bottom: -3px;left: 13px;font-size:11px;font-weight: 500;display: block;padding: 0 1px;height: 14px;line-height: 15px;background: #fff;color:#6CC2E4;border-radius: 50%;border: 0;letter-spacing:-.5px}
