@charset "UTF-8";
body, html {
  height: 100%;
}

body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, td, textarea, th, ul {
  margin: 0;
  padding: 0;
}

body, button, input, select, table, textarea {
  font-size: 15px;
  line-height: 170%;
  color: #3A4045;
  font-weight: 400;
  font-family: "Pretendard", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Malgun Gothic", "맑은 고딕", Dotum, "돋움", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji";
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  line-height: inherit;
}

textarea {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: transparent;
  border: 0;
  word-break: keep-all;
  word-wrap: break-word;
}

button, input {
  border-radius: 0;
  border: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: 3px solid #BFDEFF;
  border-radius: 4px;
}

fieldset, img {
  border: 0;
}

img {
  max-width: 100%;
  vertical-align: top;
}

ol, ul {
  list-style: none;
}

address, em {
  font-style: normal;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

iframe {
  overflow: hidden;
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: top;
}

mark {
  background-color: transparent;
}

i {
  font-style: normal;
}

span, a, strong {
  display: inline-block;
}

table {
  border-spacing: 0px;
  border-collapse: collapse;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* scrollBar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(202, 202, 202, 0.5);
  /* border-radius: 5px; */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(75, 75, 75, 0.5);
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: none;
}

::-webkit-scrollbar:vertical {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

body::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* input */
[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

.skip {
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  left: -9999px;
}

h1, h2 {
  line-height: 130%;
}

@font-face {
  font-family: "Pretendard";
  src: local("Pretendard"), url("../font/Pretendard-Light.woff2") format("woff2"), url("../font/Pretendard-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: local("Pretendard"), url("../font/Pretendard-Regular.woff2") format("woff2"), url("../font/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: local("Pretendard"), url("../font/Pretendard-Medium.woff2") format("woff2"), url("../font/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: local("Pretendard"), url("../font/Pretendard-Bold.woff2") format("woff2"), url("../font/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
.i_s14 {
  width: 14px;
  height: 14px;
}

.i_s18 {
  width: 18px;
  height: 18px;
}

.i_s20 {
  width: 20px;
  height: 20px;
}

.i_s24 {
  width: 24px;
  height: 24px;
}

.i_s40 {
  width: 40px;
  height: 40px;
}

.i_s44 {
  width: 44px;
  height: 44px;
}

.ico {
  display: inline-flex;
}

.ico:before {
  content: "";
  display: flex;
  width: inherit;
  height: inherit;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.ico.ico_reple:before {
  background-image: url(../images/icon/ico_reple.svg);
}

.ico.ico_file:before {
  background-image: url(../images/icon/ico_file.svg);
}

.ico.ico_more:before {
  background-image: url(../images/icon/ico_more.svg);
}

.ico.ico_bookmark:before {
  background-image: url(../images/icon/ico_bookmark.svg);
}

.ico.ico_bookmark.on:before {
  background-image: url(../images/icon/ico_bookmark_on.svg);
}

/*
 *
 *  목차영역
 *
*/
.index-panel {
  position: -webkit-sticky;
  position: sticky;
  top: 48px;
  left: 0;
  width: 260px;
  height: calc(100vh - 48px);
  padding: 24px 0 24px 12px;
  background: var(--color-bg-grey);
  border-right: 1px solid var(--color-border-grey);
  overflow-y: auto;
}

.index-panel ul {
  padding-left: 16px;
  font-size: 14px;
}

.index-panel ul li {
  position: relative;
  line-height: 18px;
}

.index-panel ul li a {
  margin-right: 4px;
  padding: 6px 0;
  color: var(--color-primary);
}

.index-panel .ico_bookmark {
  position: absolute;
  top: 8px;
  left: -18px;
}

body {
  background-color: #ff0000;
}

.arrow-up {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid black;
}

.arrow-down {
  display: inline-block;
  width: 0;
  height: 0;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
  border-top: 2px solid black;
}

.wrap {
  width: 100%;
  min-width: 1024px;
  margin: 0 auto;
}

.container {
  padding-top: 48px;
}

.content-wrap {
  position: relative;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  border-bottom: 1px solid #eee;
  background-color: #fff;
  z-index: 1000;
}

.main {
  flex: 1;
}

.main {
  margin-left: 72px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 48px;
  left: 0;
  padding: 16px 0;
  background-color: #fff;
  z-index: 1000;
}

.main-header h1 {
  font-size: 36px;
}

.main-header .right-area .ico {
  margin-left: 16px;
}

.main-cont-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

.main-cont-header:hover {
  background-color: var(--color-bgGreyDark);
}

.main-cont-header h2 {
  font-size: 22px;
}

.main-cont-header h3 {
  font-size: 20px;
}

.main-cont-header h4 {
  font-size: 18px;
}

.main-cont-header .tit {
  display: flex;
  align-items: center;
}

.main-cont-header .tit::before {
  content: "";
  display: inline-block;
  margin-right: 6px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' %3E%3Cpath fill='%23B5BCC0' d='M16.662 6.234a.802.802 0 0 0-.556.219h-.003L10 12.406 3.926 6.482a.811.811 0 0 0-.586-.248.812.812 0 0 0-.587.25.811.811 0 0 0-.249.586.78.78 0 0 0 .23.567l6.661 6.486a.834.834 0 0 0 .606.248c.233 0 .44-.084.605-.248l6.665-6.47.006-.007a.86.86 0 0 0 .22-.586.79.79 0 0 0-.254-.592.831.831 0 0 0-.581-.234Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

.main-cont-header .tit a {
  color: var(--color-primary);
}

.main-cont .main-cont-header .right-area .ico {
  display: none;
  height: 20px;
}

.main-cont-header .right-area .ico.ico_bookmark {
  display: inline-block !important;
}

.main-cont .main-cont-header .right-area .ico.ico_more {
  display: none !important;
}

.main-cont .main-cont-header:hover .right-area .ico {
  display: inline-block;
}

.main-cont-header .right-area .ico {
  margin-left: 16px;
}

.main-cont-body section {
  margin: 0 -12px 24px -12px;
}

.main-cont-body section .inner {
  padding: 0 12px;
  line-height: 180%;
}

.side-panel {
  position: fixed;
  top: 48px;
  right: 0;
  width: 480px;
  height: calc(100vh - 48px);
  padding: 24px;
  border-left: 1px solid #eee;
  background-color: #fff;
  overflow-y: auto;
}

.ico {
  position: relative;
}

.mark_count {
  position: absolute;
  bottom: -3px;
  left: 13px;
  font-size: 11px;
  font-weight: 500;
  display: block;
  padding: 0 1px;
  height: 14px;
  line-height: 15px;
  background: #fff;
  color: var(--color-primary-light);
  border-radius: 50%;
  border: 0;
  letter-spacing: -0.5px;
}