@charset "UTF-8";
body, html {
  height: 100%;
}

body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, td, textarea, th, ul {
  margin: 0;
  padding: 0;
}

body, button, input, select, table, textarea {
  font-size: 15px;
  line-height: 170%;
  color: #3A4045;
  font-weight: 400;
  font-family: "Pretendard", -apple-system, system-ui, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", Dotum, "돋움", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji";
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  line-height: inherit;
}

textarea {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: transparent;
  border: 0;
  word-break: keep-all;
  word-wrap: break-word;
}

button, input {
  border-radius: 0;
  border: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: none;
}

fieldset, img {
  border: 0;
}

img {
  max-width: 100%;
  vertical-align: top;
}

ol, ul {
  list-style: none;
}

address, em {
  font-style: normal;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

iframe {
  overflow: hidden;
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: top;
}

mark {
  background-color: transparent;
}

i {
  font-style: normal;
}

span, a, strong {
  display: inline-block;
}

table {
  border-spacing: 0px;
  border-collapse: collapse;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

@font-face {
  font-family: "Pretendard";
  src: local("Pretendard"), url("../font/Pretendard-Regular.woff2") format("woff2"), url("../font/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: local("Pretendard"), url("../font/Pretendard-Medium.woff2") format("woff2"), url("../font/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: local("Pretendard"), url("../font/Pretendard-Bold.woff2") format("woff2"), url("../font/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
:root {
  --color-base: #ffffff;
  --color-text: #000000;
  --color-base2: #eeeeee;
  --color-text2: #111111;
  --theme: "light";
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-base: #000000;
    --color-text: #ffffff;
    --color-base2: #111111;
    --color-text2: #eeeeee;
    --theme: "dark";
  }
}
body {
  background: var(--color-base);
  margin: 0;
  padding: 0;
}

.container {
  background: var(--color-base);
  color: var(--color-text);
  margin-top: 50px;
}
.container .card {
  height: auto;
  width: 300px;
  margin: 0 auto;
  border-radius: 20px;
  background: var(--color-base2);
  padding: 20px;
}
.container .card h1:after {
  content: var(--theme);
}
.container .card p {
  color: var(--color-text2);
}