@import 'main';

//defining scss variable 
//light theme
$colors: (
    base : #ffffff,
    text : #000000,
    base2 : #eeeeee,
    text2 : #111111
);
//dark theme
$colors-dark: (
    base : #000000,
    text: #ffffff,
    base2: #111111,
    text2: #eeeeee
);
//converting scss variable into css variable
:root {
    @each $name, $color in $colors{
        --color-#{$name} : #{$color};
    }
  --theme: 'light';
}

@media(prefers-color-scheme: dark) {
    :root {
        @each $name, $color in $colors-dark{
            --color-#{$name} : #{$color};
        }
    --theme : 'dark';
    }
}
//creating a function to get color instead of using css varible
@function getColor($color-name){
    @return var(--color-#{$color-name});
}

body{
    background: getColor(base);
    margin: 0;
    padding: 0;

}
.container{
    background: getColor(base);
    color: getColor(text);
    margin-top: 50px;
    .card{
        height: auto;
        width: 300px;
        margin: 0 auto;
        border-radius: 20px;
        background: getColor(base2);
        padding: 20px;
      h1{
        &:after{
          content: var(--theme);
        }        
      }
        p{
            color: getColor(text2);
        }
    }
}
