/*Color*/
$--white: #fff;
$--black: #000;

$--blue10: #F6FCFE; //bg
$--blue50: #E5F6FF; //bg
$--blue100: #C7ECFF;
$--blue200: #8FD8FF;
$--blue300: #66C7FF;
$--blue400: #45B6FC;
$--blue500: #31A8F6; 
$--blue600: #2487EB; //primary
$--blue700: #1674DF; //infoxt, button
$--blue800: #1061CB;
$--blue900: #0E49AF; //linktxt

$--grey10: #F9FAFA; //bg
$--grey50: #F4F5F6; //bg
$--grey100: #ECEEEF; //border
$--grey200: #DEE1E3; //border
$--grey300: #ACB3B9; //txt
$--grey400: #8B959D; //txt
$--grey500: #626C74; //txt
$--grey600: #454C52; //txt
$--grey700: #3A4045; //txt
$--grey800: #2F3337; //txt
$--grey900: #1F252C; //txt