




.txt-link{color:var(--color-txt-link)}

@mixin flex {
    display:flex;    
    align-items: center;
}

@mixin flex-between {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

@mixin background($size, $position, $image){
    background-repeat:no-repeat;
    background-size: $size;
    background-position: $position;
    background-image: $image;
}

@function icon($iconName, $color:6B7684) {
    $iconList: ( 
        arr: "%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' %3E%3Cpath fill='%23#{$color}' d='M16.662 6.234a.802.802 0 0 0-.556.219h-.003L10 12.406 3.926 6.482a.811.811 0 0 0-.586-.248.812.812 0 0 0-.587.25.811.811 0 0 0-.249.586.78.78 0 0 0 .23.567l6.661 6.486a.834.834 0 0 0 .606.248c.233 0 .44-.084.605-.248l6.665-6.47.006-.007a.86.86 0 0 0 .22-.586.79.79 0 0 0-.254-.592.831.831 0 0 0-.581-.234Z' clip-rule='evenodd'/%3E%3C/svg%3E");
        
    $icon: map-get($iconList, $iconName);
    @return url("data:image/svg+xml;charset=utf8,#{$icon}");
}

// .ico_reple{width:20px;height:20px;background-image: icon(arr);}
// .ico_arr{background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Cpath fill='%23#{$color}' stroke='%23#{$color}' stroke-width='.5' d='M16.25 6.66 10 12.755 3.75 6.661a.562.562 0 0 0-.41-.176.562.562 0 0 0-.41.176.562.562 0 0 0-.176.41.53.53 0 0 0 .157.39l6.66 6.485c.117.117.26.175.43.175.17 0 .313-.058.43-.175l6.66-6.465a.61.61 0 0 0 .156-.42.54.54 0 0 0-.176-.41.581.581 0 0 0-.82.009h-.001Z'/%3E%3C/svg%3E");}
@function get-item($list, $current, $offset:0) {
    $result-position: ($current + $offset) % length($list);
    @if $result-position == 0 {
        $result-position: length($list);
    }
    @return nth($list, $result-position);
}

@mixin arrow($direction, $color, $size) {
    display: inline-block;
    width: 0;
    height: 0;
    
    $directions: top, right, bottom, left;
    @for $i from 1 through length($directions) {
        @if nth($directions, $i) == $direction {
            border-#{get-item($directions, $i, -1)}: $size solid transparent; 
            border-#{get-item($directions, $i, 1)}: $size solid transparent; 
            border-#{get-item($directions, $i, 2)}: $size solid $color; 
        } 
    }
}

//Testing arrow mixin
.arrow-up {
    @include arrow(top, black, 2px);
}
.arrow-down {
    @include arrow(bottom, black, 2px);
}

.wrap{width:100%;min-width:1024px;margin:0 auto;}
.container{padding-top:48px;}
.content-wrap{position:relative;max-width:1280px;display:flex;justify-content:space-between;}

.header{position:fixed;top:0;left:0;width:100%;height:48px;border-bottom:1px solid #eee;background-color:#fff;z-index:1000;}


.main{flex:1;}
.main{margin-left:72px}

.main-header{@include flex-between;position:sticky;top:48px;left:0;padding:16px 0;background-color:#fff;z-index:1000;}
.main-header h1{font-size:36px;}
.main-header .right-area .ico{margin-left:16px;}

.main-cont-header{@include flex-between;margin-bottom:16px;padding:8px 0;border-bottom:1px solid #eee;}
.main-cont-header:hover{background-color:var(--color-bgGreyDark);}
.main-cont-header h2{font-size:22px;}
.main-cont-header h3{font-size:20px;}
.main-cont-header h4{font-size:18px;}
.main-cont-header .tit{@include flex;}
.main-cont-header .tit::before{content:'';display:inline-block;margin-right:6px;width:20px;height:20px;cursor:pointer;@include background(18px, center, icon(arr, B5BCC0))}
// .main-cont-header .tit::before{content:'';display:inline-block;margin-right:6px;width:20px;height:20px;cursor:pointer;@include arrow(top, pink, 10px)}
.main-cont-header .tit a{color:var(--color-primary);}
.main-cont .main-cont-header .right-area .ico{display:none;height:20px;}
.main-cont-header .right-area .ico.ico_bookmark{display:inline-block !important}
.main-cont .main-cont-header .right-area .ico.ico_more{display:none !important}
.main-cont .main-cont-header:hover .right-area .ico{display:inline-block;}
.main-cont-header .right-area .ico{margin-left:16px;}
.main-cont-body section{margin:0 -12px 24px -12px;}
.main-cont-body section .inner{padding:0 12px;line-height:180%;}

.side-panel{position:fixed;top:48px;right:0;width:480px;height:calc(100vh - 48px);padding:24px;border-left:1px solid #eee;background-color:#fff;overflow-y:auto;}

.ico{position:relative;}
.mark_count{position:absolute;bottom: -3px;left: 13px;font-size:11px;font-weight: 500;display: block;padding: 0 1px;height: 14px;line-height: 15px;background: #fff;color:var(--color-primary-light);border-radius: 50%;border: 0;letter-spacing:-.5px}


















